django
python-decouple
google-generativeai
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-huggingface-api
llama-index-vector-stores-supabase
psycopg2-binary
gunicorn
whitenoise
dj-database-url